@using System.Security.Claims
@using Client.Auth
@inject AuthenticationStateProvider AuthenticationStateProvider

<nav class="navbar navbar-expand-lg bg-primary-subtle">
    <div class="container">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            <i class="bi bi-duffle-fill fs-3 text-primary"></i>
            <span class="visually-hidden">Home</span>
        </NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/jobs">Jobs</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/profile/applications">Applications</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="JobProvider">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/profile/jobs">Your jobs</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <div class="d-flex gap-3 align-items-center">
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-link" href="/profile">@context.User.FindFirstValue(ClaimTypes.Email)</NavLink>
                        <button @onclick="async () => await ((ApiAuthProvider)AuthenticationStateProvider).LogoutAsync()" class="btn btn-outline-danger">Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="/register">Register</NavLink>
                        <NavLink class="btn btn-outline-primary" href="/login">Login</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>
