<footer class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 m-0 text-body-secondary">&COPY; @DateTime.Now.Year Jobz, Inc</p>
        <NavLink class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="/" Match="NavLinkMatch.All">
            <i class="bi bi-duffle-fill fs-3"></i>
        </NavLink>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><NavLink class="nav-link px-2 text-body-secondary" href="/" Match="NavLinkMatch.All">Home</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link px-2 text-body-secondary" href="jobs">Jobs</NavLink></li>
            <li class="nav-item"><NavLink class="nav-link px-2 text-body-secondary" href="register">Register</NavLink></li>
        </ul>
    </div>
</footer>